<!DOCTYPE html>
<html>
<head>
  <title>Babydollhair</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
	<%= render :partial => 'layouts/topnav' %>
  	<%= content_tag :h1, yield(:title) if show_title? %>
	<% flash.each do |name, msg| %>
		<div id="flash"><%= content_tag :div, msg, :id => "flash_#{name}" %></div>
	<% end %>
      <%= yield %>

</div>


</body>
</html>
